@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
  --teal: #008080;
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--teal);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span {
  font-size: 3.5rem;
  background: #e2ebf8;
  color: var(--teal);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}

.heading span.space {
  background: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #e2ebf8;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

header .logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: teal;
}

header .logo span {
  color: #fc6410;
}

header .navbar a {
  color: var(--teal);
  font-size: 2rem;
  margin: 0.8rem;
}

header .navbar a:hover {
  color: #fc6410;
}

header .icons i {
  font-size: 2.5rem;
  color: var(--teal);
  margin-right: 2rem;
  cursor: pointer;
}

header .icons i:hover {
  color: #fc6410;
}

header .search-bar-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  background: #e2ebf8;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  /* clip-path jadi ilang */
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.7rem;
  border-radius: 0.5rem;
}

header .search-bar-container label {
  color: var(--teal);
  font-size: 3rem;
  cursor: pointer;
  margin-left: 1.5rem;
}

.login-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.login-form-container.active {
  top: 0;
}

.login-form-container form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: #fff;
  width: 50rem;
}

.login-form-container form h3 {
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

.login-form-container form .box {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  margin: 0.6rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.login-form-container form .box:focus {
  border-color: var(--teal);
}

.login-form-container form #remember {
  margin: 2rem 0;
}

.login-form-container form label {
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--teal);
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: #fc6410;
  color: #fff;
}

.login-form-container form .btn {
  display: block;
  width: 100%;
}

.login-form-container form p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #666;
}

.login-form-container form p a {
  color: #fc6410;
}

.login-form-container form p a:hover {
  color: #333;
  text-decoration: underline;
}

.login-form-container #form-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
  min-height: 100vh;
}

.home .content {
  text-align: center;
}

.home .content h3 {
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home .content p {
  font-size: 2.5rem;
  color: #fff;
  padding: 0.5rem 0;
}

.home .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* ini untuk button click nya dimulai dari sini */
.home .controls {
  padding: 1rem;
  border-radius: 5rem;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 10rem;
}

.home .controls .vid-btn {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0 0.5rem;
}

.home .controls .vid-btn.active {
  background: var(--teal);
}

.services .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.services .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.services .box-container .box i {
  padding: 1rem;
  font-size: 5rem;
  color: var(--teal);
}

.services .box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
}

.services .box-container .box p {
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.services .box-container .box:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.product .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.product .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.product .box-container .box img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}

.product .box-container .box .content {
  padding: 2rem;
}

.product .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
}

.product .box-container .box .content p {
  font-size: 1.7rem;
  color: #666;
}

.product .box-container .box .content .stars i {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #fc6410;
}

.product .box-container .box .price {
  font-size: 2rem;
  color: #333;
}

.product .box-container .box .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  color: #666;
}

.farm .box {
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.farm .review-slider {
  padding-bottom: 2rem;
}

.farm .box img {
  height: 20rem;
  width: 25rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.farm .box p {
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.review .box-container .box {
  /* border: 0.1rem solid #222; */
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.review .box-container .box .user {
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3 {
  font-size: 2rem;
  color: #333;
  padding: 1rem 0;
}

.review .box-container .box .stars i {
  font-size: 2rem;
  color: var(--teal);
  margin-top: 1rem;
}

.review .box-container .box .social i {
  font-size: 2.5rem;
  color: var(--teal);
  margin-top: 1rem;
  margin-inline: 0.5rem;
  cursor: pointer;
}

.review .box-container .box .social i:hover {
  color: #fc6410;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.contact .row .map {
  flex: 1 1 35rem;
}

.contact .row .map iframe {
  width: 100%;
}

.contact .row form {
  flex: 1 1 50rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.contact .row form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .row form .inputBox input,
.contact .row form textarea {
  width: 49%;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  background: #f7f7f7;
  text-transform: none;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}

.inner-footer {
  margin: 0;
  padding: 0;
  background-color: #272727;
}

.inner-footer h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 2rem;
  color: white;
  text-align: center;
}
.social-links {
  display: flex;
}

.social-links ul {
  display: flex;
  width: 300px;
  height: 30px;
  margin: auto;
  padding: 10px;
}

.social-footer {
  list-style: none;
}

.social-footer a {
  padding: 10px 20px;
  font-size: 30px;
  color: #6cccc6;
  transition: 0.5s ease-in-out;
}

.social-footer a:hover {
  color: #ff7200;
}

.nav-links {
  display: flex;
  width: 500px;
  height: 70px;
  margin: auto;
  padding: 30px 30px 30px 0;
}

.nav-links ul {
  display: flex;
}

.nav-items {
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  padding: 0 15px;
  font-size: 18px;
  color: white;
  transition: 0.5s ease-in-out;
}

.nav-items a:hover {
  color: #6cccc6;
}

.footer-bottom {
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 18px;
  background-color: #3f3f3f;
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #333;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading span {
    font-size: 2.5rem;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
}
